<div class="csl-bib-body" style="line-height: 1.35; ">
  <div class="csl-entry" style="clear: left; ">
    <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 2em;">[1]</div><div class="csl-right-inline" style="margin: 0 .4em 0 2.5em;">«&nbsp;Arctic Ship Traffic Data (ASTD)&nbsp;», Arctic Council. Consulté le: 15 mai 2024. [En ligne]. Disponible sur: https://arctic-council.org/projects/arctic-ship-traffic-data-astd/</div>
  </div>
  <div class="csl-entry" style="clear: left; ">
    <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 2em;">[2]</div><div class="csl-right-inline" style="margin: 0 .4em 0 2.5em;">«&nbsp;As industrial activity and shipping traffic grow, we need firm regulations to protect Arctic waters&nbsp;», WWF Arctic. Consulté le: 15 mai 2024. [En ligne]. Disponible sur: https://www.arcticwwf.org/the-circle/stories/as-industrial-activity-and-shipping-traffic-grow-we-need-firm-regulations-to-protect-arctic-waters/</div>
  </div>
  <div class="csl-entry" style="clear: left; ">
    <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 2em;">[3]</div><div class="csl-right-inline" style="margin: 0 .4em 0 2.5em;">N. Editor, «&nbsp;Plastic is hurting the Arctic&nbsp;», United Nations Western Europe. Consulté le: 15 mai 2024. [En ligne]. Disponible sur: https://unric.org/en/plastic-is-hurting-the-arctic/</div>
  </div>
  <div class="csl-entry" style="clear: left; ">
    <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 2em;">[4]</div><div class="csl-right-inline" style="margin: 0 .4em 0 2.5em;">Admin, «&nbsp;Canada’s Final Frontier: Understanding Arctic Sovereignty&nbsp;», The Tribune. Consulté le: 15 mai 2024. [En ligne]. Disponible sur: https://www.thetribune.ca/features/canadas-final-frontier/</div>
  </div>
  <div class="csl-entry" style="clear: left; ">
    <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 2em;">[5]</div><div class="csl-right-inline" style="margin: 0 .4em 0 2.5em;">«&nbsp;Arctic Sovereignty: Competing Claims and Unknown Outcomes, Vol. 5 – Cornell International Law Journal&nbsp;». Consulté le: 15 mai 2024. [En ligne]. Disponible sur: https://cornellilj.org/2016/12/14/arctic-sovereignty-competing-claims-and-unknown-outcomes/</div>
  </div>
  <div class="csl-entry" style="clear: left; ">
    <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 2em;">[6]</div><div class="csl-right-inline" style="margin: 0 .4em 0 2.5em;">«&nbsp;Canadian Arctic Sovereignty&nbsp;». Consulté le: 15 mai 2024. [En ligne]. Disponible sur: https://www.thecanadianencyclopedia.ca/en/article/arctic-sovereignty</div>
  </div>
  <div class="csl-entry" style="clear: left; ">
    <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 2em;">[7]</div><div class="csl-right-inline" style="margin: 0 .4em 0 2.5em;">«&nbsp;Infographie: La route de la soie polaire&nbsp;», Statista Daily Data. Consulté le: 15 mai 2024. [En ligne]. Disponible sur: https://fr.statista.com/infographie/30254/carte-des-principales-routes-maritimes-arctiques-ouverture-fonte-des-glaces</div>
  </div>
  <div class="csl-entry" style="clear: left; ">
    <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 2em;">[8]</div><div class="csl-right-inline" style="margin: 0 .4em 0 2.5em;">«&nbsp;Arctic connected | The Arctic’s Indigenous communities under threat&nbsp;», WWF Arctic. Consulté le: 15 mai 2024. [En ligne]. Disponible sur: https://www.arcticwwf.org/newsroom/features/arctic-connected-the-arctics-indigenous-communities-under-threat/</div>
  </div>
  <div class="csl-entry" style="clear: left; ">
    <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 2em;">[9]</div><div class="csl-right-inline" style="margin: 0 .4em 0 2.5em;">«&nbsp;The changing Arctic: A greener, warmer and increasingly accessible region | National Oceanic and Atmospheric Administration&nbsp;». Consulté le: 15 mai 2024. [En ligne]. Disponible sur: https://www.noaa.gov/explainers/changing-arctic-greener-warmer-and-increasingly-accessible-region</div>
  </div>
  <div class="csl-entry" style="clear: left; ">
    <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 2em;">[10]</div><div class="csl-right-inline" style="margin: 0 .4em 0 2.5em;">«&nbsp;Navigating the future of Arctic shipping&nbsp;», Arctic Council. Consulté le: 15 mai 2024. [En ligne]. Disponible sur: https://arctic-council.org/news/navigating-the-future-of-arctic-shipping/</div>
  </div>
  <div class="csl-entry" style="clear: left; ">
    <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 2em;">[11]</div><div class="csl-right-inline" style="margin: 0 .4em 0 2.5em;">V. Gassiy, «&nbsp;Indigenous Communities in the Arctic Change in Socio-Economic and Environmental Perspective&nbsp;», in <i>Arctic Studies - A Proxy for Climate Change</i>, IntechOpen, 2018. doi: 10.5772/intechopen.80765.</div>
  </div>
  <div class="csl-entry" style="clear: left; ">
    <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 2em;">[12]</div><div class="csl-right-inline" style="margin: 0 .4em 0 2.5em;">«&nbsp;Après le blocage du canal de Suez, l’Egypte réduit ses exigences d’indemnisation pour l’« Ever-Given »&nbsp;», <i>Le Monde.fr</i>, 24 mai 2021. Consulté le: 15 mai 2024. [En ligne]. Disponible sur: https://www.lemonde.fr/economie/article/2021/05/24/apres-le-blocage-du-canal-de-suez-l-egypte-reduit-ses-exigences-d-indemnisation-pour-l-ever-given_6081276_3234.html</div>
  </div>
  <div class="csl-entry" style="clear: left; ">
    <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 2em;">[13]</div><div class="csl-right-inline" style="margin: 0 .4em 0 2.5em;">S. Aprile, «&nbsp;Nathalie Montel, Le chantier du canal de Suez (1859-1869). Une histoire des pratiques techniques, Paris, Presses de l’École nationale des Ponts et Chaussées, 379 p.&nbsp;», <i>Revue d’histoire du XIXe siècle. Société d’histoire de la révolution de 1848 et des révolutions du XIXe siècle</i>, n<sup>o</sup> 19, p. 146‑147, déc. 1999, doi: 10.4000/rh19.170.</div>
  </div>
  <div class="csl-entry" style="clear: left; ">
    <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 2em;">[14]</div><div class="csl-right-inline" style="margin: 0 .4em 0 2.5em;">I. Bernier, «&nbsp;Histoire : l’aventure de la construction du canal de Suez&nbsp;», Futura. Consulté le: 15 mai 2024. [En ligne]. Disponible sur: https://www.futura-sciences.com/sciences/questions-reponses/histoire-histoire-aventure-construction-canal-suez-13690/</div>
  </div>
  <div class="csl-entry" style="clear: left; ">
    <div class="csl-left-margin" style="float: left; padding-right: 0.5em;text-align: right; width: 2em;">[15]</div><div class="csl-right-inline" style="margin: 0 .4em 0 2.5em;">«&nbsp;Face à la sécheresse, le canal de Panama restreint encore davantage le passage des navires - Le Temps&nbsp;», 1 novembre 2023. Consulté le: 15 mai 2024. [En ligne]. Disponible sur: https://www.letemps.ch/economie/face-a-la-secheresse-le-canal-de-panama-restreint-encore-davantage-le-passage-des-navires</div>
  </div>
</div>